#info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
#cases,
#cases24 {
  color: purple;
}
#vindecati,
#vindecati24 {
  color: green;
}
#decedati,
#decedati24 {
  color: red;
}
