#info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#cases,
#cases24 {
  color: purple;
}
#vindecati,
#vindecati24 {
  color: green;
}
#decedati,
#decedati24 {
  color: red;
}
#all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20;
  border-right: 5px solid black;
  padding-right: 20px;
}
#today {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20;
  margin-left: 100px;
}
@media (max-width: 700px) {
  #info {
    flex-direction: column;
  }
  #all {
    border: none;
    padding-right: 0;
  }
  #today {
    margin-left: 0;
    margin-top: 20px;
  }
}
